a{
    color: #1890ff;
    background-color: transparent;
    text-decoration: none!important;
    outline: none;
    cursor: pointer;
    transition: color .3s;

    &:active, &:hover {
        outline: 0;
        text-decoration: none;
    }

    &:hover{
        color: #40a9ff!important;
    }

    &:active{
        color: #096dd9!important;
    }
}