.breadcrumb {
  margin-bottom: 16px !important;
  font-size: 14px;
  line-height: 1.5;
  padding: 0;
  list-style: none;
  color: rgba(0, 0, 0, 0.45);
  background: transparent;
  .breadcrumb-item {
    &,
    a {
      align-items: center;
      display: flex;
    }

    i {
      color: rgba(0, 0, 0, 0.5);
      margin-right: 8px;
    }
    &.active {
      color: rgba(0, 0, 0, 0.65);
    }
  }
}
