.btn {
  display: inline-flex;
  touch-action: manipulation;
  line-height: 1.15;
  padding: 0 15px;
  font-size: 14px;
  height: 32px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  border: 1px solid transparent;
  align-items: center;
  justify-content: center;

  &.btn-sm{
    padding: 0 7px;
    font-size: 14px;
    border-radius: 4px;
    height: 24px;
  }

  &.btn-ant {
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    border-color: #d9d9d9;
    &:hover {
      color: #40a9ff;
      background-color: #fff;
      border-color: #40a9ff;
    }
  }

  &.btn-dashed {
    border-style: dashed;
  }
}
