.card {
  border: 1px solid #e8e8e8;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  transition: all 0.3s;
  &.hoverable:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
    border-color: rgba(0, 0, 0, 0.09);
  }

  .card-body {
    padding: 24px;
  }
  .card-footer {
    border-top: 1px solid #e8e8e8;
    background: #f7f9fa;

    &.action-list {
      padding: 0;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      align-content: center;

      & > .action {
        display: flex;
        flex: 1 1;
        align-items: center;
        justify-content: center;
        padding: 12px 0;
        color: rgba(0, 0, 0, 0.45);

        &:not(last-child) {
          border-right: 1px solid #e8e8e8;
        }
      }
    }
  }
}
