layout {
  display: flex;
  flex-direction: column;
  flex: auto;
  align-items: stretch;
  align-self: stretch;
  &[row] {
    flex-direction: row;
  }

  &.content {
    margin: 24px 24px 0px;

    & > footer {
      padding: 0 16px;
      margin: 48px 0 24px 0;
      text-align: center;
    }
  }
}
