<div class="page-header">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <%= yield :breadcrumb %>
        </ol>
    </nav>
    <h1>
        <%= t 'courses.title' %>
    </h1>
</div>

<%= yield :content %>