// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.course-new {
  display: flex;
  flex: auto;
  height: 100%;
}

.test-table {
  width: fit-content;
  max-width: 100%;
  margin: 0 auto;
  thead {
    th {
      &[name="name"] {
        min-width: 250px;
      }
      &[name="legajo"] {
        width: 100px;
      }
    }
  }
  tfoot {
    th {
      text-align: right;
    }
    td {
      text-align: center;
    }
  }
}
